.App {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.app-container {
  background: #fff;
  margin: 30px 80px;
  border: 2px solid #ccc;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

h1,
h3 {
  text-decoration: underline;
}

.search-input {
  width: 20%;
  padding: 8px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  margin: 0px 10px;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
}

.toaster {
  position: fixed;
  top: 10px;
  right: 0px;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}


form {
  display: flex;
  margin-bottom: 20px;
}

textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px 10px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

input[type="checkbox"] {
  margin-right: 10px;
}

span {
  flex: 1;
  font-size: 16px;
}

.pending-text {
  color: #333333;
}

.completed-text {
  color: #cccccc;
}

button.delete {
  background-color: #dc3545;
}

button.delete:hover {
  background-color: #bd2130;
}

.status {
  display: flex;
  align-items: center;
}

.status span {
  background: #eee;
  padding: 6px;
  margin: 0px 4px;
}

.completed-status {
  color: #28a745;
  margin-right: 10px;
}

.pending-status {
  color: #dc3545;
  margin-right: 10px;
}